{% extends "network/layout.html" %}

{% block body %}
    <h3 class="mb-3">
        {{ title }}
    </h3>
    {% if user.is_authenticated %}
        <div class="card mb-2">
            <div class="card-body">
                <form action="{% url 'index' %}" method="post">
{% csrf_token %}
                    <div class="form-group">
                        <h5 class="card-title">
                            <label for="new-post">
                                New Post
                            </label>
                        </h5>
                        <textarea id="new-post" name="new-post" rows="2" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary d-block">
                        Post
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="card mb-2">
            <div class="card-body">
                <h6 class="card-title">
                    <a href="{% url 'profile' post.poster.id %}"
                       class="text-reset text-decoration-none">
                        {{ post.poster }}
                    </a>
                </h6>
                <p class="card-text">
                    {{ post.body }}
                </p>
                <div class="d-flex justify-content-between">
                    <span>
                        <small class="text-muted">
                            {{ post.timestamp }}
                        </small>
                    </span>
                    <span>
                        <button class="btn" aria-label="Like">
                            <i class="bi bi-heart-fill text-danger"></i>
                        </button>
                        {{ post.liked_by.count }}
                    </span>
                </div>
            </div>
        </div>
    {% empty %}
        <div>
            There are no posts yet.
        </div>
    {% endfor %}
{% endblock %}
