{% extends "network/layout.html" %}

{% block body %}
  <h3 class="mb-3">
        {{ username }}
  </h3>
  <div class="d-flex justify-content-between">
    <div>
      <p>
        <strong>Followers: </strong>{{ followers }}
      </p>
      <p>
        <strong>Following: </strong>{{ following }}
      </p>
    </div>
    {% if user.is_authenticated and not is_current_user %}
      <form action="#" method="post">
{% csrf_token %}
        {% if not is_following %}
          <button type="submit" value="follow" class="btn btn-primary">
            Follow
          </button>
        {% else %}
          <button type="submit" value="unfollow" class="btn btn-secondary">
            Unfollow
          </button>
        {% endif %}
      </form>
    {% endif %}
  </div>
  {% for post in posts %}
    <div class="card mb-2">
      <div class="card-body">
        <h6 class="card-title">
          <a href="{% url 'profile' post.poster.id %}"
             class="text-reset text-decoration-none">
            {{ post.poster }}
          </a>
        </h6>
        <p class="card-text">
          {{ post.body }}
        </p>
        <div class="d-flex justify-content-between">
          <span>
            <small class="text-muted">
              {{ post.timestamp }}
            </small>
          </span>
          <span>
            0
          </span>
        </div>
      </div>
    </div>
  {% empty %}
    <div>
      There are no posts yet.
    </div>
  {% endfor %}
{% endblock %}
